<div class="card-header">
  <h2 class="card-title text-center">Listado de Pacientes</h2>
</div>
<mat-divider />
<div class="row">
  <div class="text-center">
    <button
      class="btn btn-success btn-block"
      routerLink="nuevo"
      mat-flat-button
      color="primary"
    >
      Crear Paciente
    </button>
  </div>
</div>
<mat-divider />

<div class="card-body">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3" *ngFor="let item of pacientes">
      <app-pacientes-card-paciente [paciente]="item" />
      <mat-divider />
      <mat-divider />
    </div>
  </div>
</div>
