<mat-card
  style="
    background: #bdc3c7; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #2c3e50,
      #bdc3c7
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #2c3e50,
      #bdc3c7
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  "
>
  <mat-card-title>
    <h2 class="text-white text-center">Datos Principales</h2>
  </mat-card-title>
  <mat-card-content>
    <p>
      Paciente: {{ historiaMedica.paciente.nombre }} ({{
        historiaMedica.paciente.email
      }})
    </p>
    <hr class="bg-success" />
    <p>
      Médico: {{ historiaMedica.medico.nombre }} ({{
        historiaMedica.medico.email
      }})
    </p>
    <p>Especialidad: {{ historiaMedica.medico.especialidad }}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      mat-raised-button
      class="bg-info"
      [routerLink]="['/historial-medico/historia', historiaMedica.id]"
    >
      <mat-icon>visibility</mat-icon>
      Ver Historia
    </button>
  </mat-card-actions>
</mat-card>
