<app-shared-spinner [mensaje]="mensaje" *ngIf="isLoading; else displayData" />

<ng-template #displayData>
  <div class="container">
    <!-- Card con datos del Medico -->
    <mat-card class="card">
      <div class="card-header">
        <h1 class="card-title text-center text-success">Datos del Médico</h1>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <span class="badge rounded-pill text-bg-dark"
              >Nombre del Médico</span
            >
            <h3 class="card-title">{{ medico?.nombre }}</h3>
          </div>
          <div class="col">
            <span class="badge rounded-pill text-bg-warning"
              >Especialidad del Médico</span
            >
            <h3 class="card-title">{{ medico?.especialidad }}</h3>
          </div>
          <div class="col">
            <span class="badge rounded-pill text-bg-primary"
              >Teléfono del Médico</span
            >
            <h3 class="card-title">{{ medico?.telefono }}</h3>
          </div>
          <div class="col">
            <span class="badge rounded-pill text-bg-success"
              >Correo del Médico</span
            >
            <h3 class="card-title">{{ medico?.email }}</h3>
          </div>
        </div>
      </div>
      <mat-card-actions align="end">
        <button
          class="bg-dark mx-auto"
          mat-flat-button
          color="primary"
          routerLink="['/historial-medico']"
        >
          Regresar
        </button>
      </mat-card-actions>
    </mat-card>

    <div class="row mt-2">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title text-center text-success">
              Lista de Pacientes
            </h3>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead class="text-center">
                <th>Nombre</th>
                <th>Correo</th>
              </thead>
              <tbody>
                <tr
                  *ngFor="let paciente of historialesDelMedico; let i = index"
                >
                  <td>
                    {{ historialesDelMedico[i].paciente.nombre }}
                  </td>
                  <td>{{ historialesDelMedico[i].paciente.email }}</td>
                  <td>
                    <button
                      mat-mini-fab
                      color="accent"
                      [routerLink]="[
                        '/pacientes/detalle',
                        historialesDelMedico[i].paciente.id
                      ]"
                    >
                      <mat-icon>visibility</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title text-center text-primary">
              Lista de Citas Médicas
            </h3>
          </div>
          <div class="card-body">
            <div class="table-responsive-sm">
              <table
                class="table table-striped table-hover table-borderless table-primary"
              >
                <thead class="table-light text-center">
                  <tr>
                    <th>Fecha</th>
                    <th>Horario</th>
                    <th>Síntomas</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr
                    class="table-primary"
                    *ngFor="let x of historialesDelMedico; let i = index"
                  >
                    <td>{{ historialesDelMedico[i].citaMedica.fecha }}</td>
                    <td>{{ historialesDelMedico[i].citaMedica.hora }}</td>
                    <td>{{ historialesDelMedico[i].citaMedica.sintomas }}</td>
                    <td>
                      <button
                        mat-mini-fab
                        color="primary"
                        [routerLink]="[
                          '/citas-medicas/detalle',
                          historialesDelMedico[i].citaMedica.id
                        ]"
                      >
                        <mat-icon>visibility</mat-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tfoot></tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
