<mat-divider />

<mat-card-title class="card-title text-center">
  <h2 class="text-center text-primary">Buscador de Pacientes</h2>
</mat-card-title>
<mat-divider />
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<div class="container">
  <div class="d-flex flex-column">
    <h3 class="text-success">Buscar un paciente</h3>
    <mat-form-field>
      <mat-label>Nombre del Paciente</mat-label>
      <input
        type="text"
        matInput
        [formControl]="searchInput"
        (input)="searchPaciente()"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="onSelectedOption($event)"
      >
        <mat-option
          *ngFor="let paciente of pacientes"
          [value]="paciente.nombre"
        >
          {{ paciente.nombre }}
        </mat-option>
        <mat-option
          *ngIf="
            pacientes?.length === 0 &&
            searchInput.value &&
            searchInput.value.length > 0
          "
          value=""
        >
          No se encontraron resultados para el termino de busqueda.
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>

<div class="card" mat-card *ngIf="pacienteSeleccionado">
  <div class="card-body text-center">
    <h4 class="card-title text-center text-success">Paciente Encontrado</h4>
    <p class="card-text">
      {{ pacienteSeleccionado.nombre }} - {{ pacienteSeleccionado.email }}
    </p>
  </div>
  <button
    mat-flat-button
    color="primary"
    [routerLink]="['/pacientes/detalle/', pacienteSeleccionado.id]"
  >
    <mat-icon>visibility</mat-icon>
    Ver Paciente
  </button>
</div>
