<mat-card class="card-header">
  <h3 class="text-center text-success">Lista de Citas Médicas</h3>
</mat-card>
<mat-divider />
<div class="row col-12:col-auto">
  <div class="d-flex justify-content-center">
    <button
      class="btn btn-success m-2"
      mat-flat-button
      color="primary"
      (click)="openDialog()"
    >
      <mat-icon> add </mat-icon>
      Crear Cita Médica
    </button>
    <mat-divider />
  </div>
</div>
<mat-divider />

<ng-template #citasDisplay>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3" *ngFor="let x of citasMedicas">
        <app-citasmedicas-cita [citaMedica]="x" />
        <mat-divider />
        <mat-divider />
      </div>
    </div>
  </div>
</ng-template>
<app-shared-spinner
  [mensaje]="mensaje"
  *ngIf="isLoading(); else citasDisplay"
/>
<mat-divider />
